img{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: black;
}

*{
    color: white;
}