*{
    text-decoration:none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    align-items:end;
    padding-top: 5px;
    margin-bottom: -15px;
    margin-left: 20px;
    margin-right: 20px;
}

ul{
    flex: 1;
    display: flex;
    list-style-type: none;
}

.headlinks{
    padding: 10px;
    cursor: pointer;
}

.profimg{
    background: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.washulogo{
    margin: 5px;
    max-height: 40px;
    width: auto;
    margin-right: -20px;
}
body {
    height: 700px;
    margin: 15px;
    background-color: black; 
}
h1{
    padding: 30px;
    color: white;
}
.ctrlogo{
    max-height: 200px;
    margin-right: 100px;
    flex:1;
 }

.innerbody{
    text-align: center;
}

.bearjoin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.join{
    background-color: rgb(28, 130, 255);
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border: none;
}

footer{
    text-align: center;
    margin: 30px;
    padding: 30px;
    font-size: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
